<li class = "post">
  <div>
    <% if logged_in? %>
      <%= link_to "author: #{post.user.username}", current_user == post.user ? profile_path : user_path(post.user), class: 'author'%>
    <% else %>
      <div>author: You must <%= link_to 'login', login_path, class: 'author' %> To view who posted this!</div>
    <% end %>
    <p><%= post.title%><p>
    <p><%= post.body%></p>
  </div>
</li>