<div class="topnav">
    <%= link_to 'All Posts', posts_path, 'id' => navbar_link_class(posts_path) %>
    <%= link_to 'Login', login_path, 'id' => navbar_link_class(login_path) %>
    <%= link_to 'Signup', signup_path, 'id' => navbar_link_class(signup_path) %>
</div>