<div class="topnav">
      <%= link_to 'Logout', logout_path, method: 'delete', 'id' => navbar_link_class(logout_path) %>
      <%= link_to 'Profile', profile_path, 'id' => navbar_link_class(profile_path) %>
      <%= link_to 'Create Post', new_post_path, 'id' => navbar_link_class(new_post_path)%>
      <%= link_to 'All Posts', posts_path, 'id' => navbar_link_class(posts_path) %>
</div>